@import "../../theme/_variables";

.main {
  max-width: 100vw;
  margin-top: -$grid-gap;
  border-radius: $radius;
  background: $white;
  padding: 0;

  @media only screen and (max-width: 414px) {
    min-width: 100vw;
    grid-column: 1/5;
  }
  @media only screen and (min-width: 415px) and (max-width: 823px) {
    grid-column: 1/9;
  }
  @media only screen and (min-width: 824px) and (max-width: 1024px) {
    grid-column: 1/12;
  }
  @media only screen and (min-width: 1025px) {
    grid-column: 2/12;
  }

  .detail {
    display: grid;
    gap: $grid-gap;
    border-radius: $radius;
    background: $white;

    @media only screen and (max-width: 414px) {
      grid-template-columns: repeat(4, $grid-size);
    }
    @media only screen and (min-width: 415px) {
      grid-template-columns: repeat(7, $grid-size);
    }

    .detailImageSection {
      grid-column: 1/8;

      @media only screen and (max-width: 823px) {
        min-width: 100vw;
        grid-column: 1/4;
      }
      @media only screen and (min-width: 824px) and (max-width: 1024px) {
        grid-column: 1/7;
      }

      .detailImageContainer {
        display: flex;
        margin: 0;

        .detailImage {
          width: 100%;
          height: auto;
          border-radius: $radius;
        }
      }
    }

    .detailActionSection {
      grid-column: 8/11;

      @media only screen and (max-width: 823px) {
        min-width: 100vw;
        grid-column: 1/4;
      }
      @media only screen and (min-width: 824px) and (max-width: 1024px) {
        grid-column: 7/11;
      }

      .detailActionSectionContainer {
        @media only screen and (max-width: 823px) {
          text-align: center;
          width: 75%;
          margin: auto;
          padding: 32px 0px 32px 0px;
        }

        .detailStatus {
          padding-top: $space-lg;
          font-size: $font-xs;
        }

        .detailTitle {
          // padding-top: $space-sm;
          padding: $space-sm $space-lg 0px 0px;
          font-size: $font-lg;
          font-weight: $weigth-bold;

          @media only screen and (max-width: 823px) {
            padding: $space-sm 0px 0px 0px;
          }
        }

        .detailPrice {
          display: flex;
          flex-wrap: nowrap;
          padding-top: $space-lg;
          font-size: $font-xl;
          font-weight: $weigth-bold;
          // white-space: nowrap;

          @media only screen and (max-width: 823px) {
            justify-content: center;
          }

          .detailPriceContainer {
            display: flex;
            justify-content: flex-start;
            flex-flow: wrap;

            @media only screen and (max-width: 823px) {
              justify-content: center;
            }

            .detailPriceCurrency {
              padding-right: 5px;
            }

            .detailPriceInteger {
              word-break: break-all;
              padding-right: 5px;
            }

            .detailPriceDecimal {
              font-size: $font-lg;
              padding: 5px;
            }
          }
        }

        .detailBuyContainer {
          padding: $space-lg $space-lg $space-lg 0px;
          display: flex;

          @media only screen and (max-width: 823px) {
            padding: $space-lg 0px;
          }

          .detailBuyButton {
            flex: 1;
            border-color: transparent;
            background-color: $blue;
            color: $white;
            font-size: $font-sm;
            border-radius: $radius;
            line-height: 36px;
          }
        }
      }
    }

    .detailDescriptionSection {
      grid-column: 1/8;

      @media only screen and (max-width: 1024px) {
        min-width: 100vw;
        grid-column: 1/4;
      }
      @media only screen and (min-width: 1025px) {
        margin-right: -($grid-gap + $space-lg);
      }

      .detailDescriptionSectionContainer {
        padding: 0px 32px 32px 32px;

        .detailDescriptionTitle {
          display: flex;
          align-items: flex-end;
          min-height: 48px;
          font-size: $font-md2;
          line-height: $font-md2;
        }

        .detailDescription {
          padding-top: 32px;
          font-size: $font-sm;
          font-weight: $weigth-light;
          color: $gray;
          max-width: 100vw;
          white-space: break-spaces;
          overflow: auto;
        }
      }
    }
  }
}
