@import "../../theme/_variables";

.itemResult {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  padding-right: $space-sm;

  .thumbnailContainer {
    padding: $space-sm 0 $space-sm $space-sm;

    .thumbnailParent {
      margin: 0;

      .thumbnail {
        // width: 100%;
        // height: auto;
        border-radius: $radius;
      }
    }
  }

  .descriptionContainer {
    flex: 1;
    padding-left: $space-sm;

    .upDetailsContainer {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding-top: $space-lg;

      .priceShippingContainer {
        display: flex;
        flex: auto;
        flex-wrap: wrap;
        padding-right: $space-sm;

        .price {
          padding-right: $space-xs;
          color: $black;
          font-size: $font-lg;
          white-space: nowrap;
        }

        .shipping {
          margin: 0;

          .shippingImage {
            padding-top: 4px;
          }
        }
      }

      .locationContainer {
        flex: 1;
        max-width: 180px;

        .location {
          color: $dark-gray;
          font-size: $font-xxs;
        }
      }
    }

    .lowerDetailsContainer {
      padding-top: $space-lg;
      padding-bottom: $space-sm;
      color: $black;
      font-size: $font-md;
    }
  }
}
