// Colors
$yellow: #ffe600;
$black: #333333;
$dark-gray: #666666;
$gray: #999999;
$light-gray: #eeeeee;
$blue: #3483fa;
$white: #ffffff;

// Fonts
$font-xxs: 12px;
$font-xs: 14px;
$font-sm: 16px;
$font-md: 18px;
$font-md2: 28px;
$font-lg: 24px;
$font-xl: 46px;

$weigth-light: 100;
$weigth-bold: 600;

// Spacing
$space-xs: 6px;
$space-sm: 16px;
$space-lg: 32px;

// Radius
$radius: 4px;

// Grid
$grid-size: 80px;
$grid-gap: 20px;