@import './theme/_variables';

body {
  margin: 0;
  font-size: $font-md;
  font-family: "Proxima Nova",-apple-system,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $light-gray;
}

#root {
  display: grid;
  gap: $grid-gap;
  max-width: 1180px;
  margin: auto;

  @media only screen and (max-width: 414px) {
    grid-template-columns: repeat(4, $grid-size);
  }    
  @media only screen and (min-width:415px) and (max-width:823px) {
    grid-template-columns: repeat(7, $grid-size);
  }
  @media only screen and (min-width:824px){
    grid-template-columns: repeat(12, $grid-size);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
