@import "../../theme/_variables";

.breadcrumb {
  font-size: $font-xs;
  // el original es el primero pero el segundo da mejor contraste (lo dice Lighthouse)
  // color: $gray;
  color: $dark-gray;

  &.lastBreadcrumb {
    font-weight: $weigth-bold;
  }

  &.breadcrumbSeparator {
    padding-inline: $space-xs;
  }
}
